<!doctype html>

<html>
  <head>
    <!-- Loading Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <link href="/static/css/popup.css" rel="stylesheet">
    <script src="/static/js/lib/googleAnalytics/analytics.js"></script>
  </head>
  <body>
    <div id="main-container">
      <!-- render -->
    </div> <!-- //end of main-container -->

    <!-- REQUIREJS -->
    <script data-main="/static/js/popup/popup_main" src="/static/js/require.js"></script>
  </body>
</html>
